<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="container">
        <% if (orders.length <= 0) { %>
            <h1  >Nothing Theres!.. </h1>
        <% } else { %>
            <h1>Orders</h1>
            <div class="cart">
                <table>
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Products</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% orders.forEach(order => { %>
                            <tr>
                                <td><%= order?._id %></td>
                                <td>
                                    <ul>
                                        <% order?.products.forEach(item => { %>
                                            <li><%= item.title %> - <%= item.orderItem.quantity %> x $<%= item.price %></li>
                                        <% }) %>
                                    </ul>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        <% } %>
        </div>
    </main>
<%- include('../includes/end.ejs') %>